In [22]:
from selenium import webdriver
from bs4 import BeautifulSoup as bs

In [149]:
driver = webdriver.Chrome('C:/Users/concat/Desktop/LinaCrawling/CONCAT/chromedriver_win32/chromedriver.exe')

In [150]:
url = 'https://direct.lina.co.kr/product/dtc001'
driver.get(url)

In [151]:
driver.find_element_by_class_name('g_input_01').send_keys('750106')

In [152]:
driver.find_element_by_class_name('btn_premium_sum').click()

In [180]:
page = driver.page_source

In [181]:
soup = bs(page,'html.parser')

In [182]:
basic = soup.find(class_='basicTbody')

In [183]:
basic

<tbody class="basicTbody"> <tr> <th class="tbltit">월 보험료 <span>(온라인 3% 할인 적용)</span></th> <td class="inNum"><strong>17,557</strong>원</td> <td class="inNum"><strong>44,426</strong>원</td> </tr> <tr class="price_main"> <th scope="row">주계약 보험가입금액</th> <td>4,500만원</td> <td>4,500만원</td> </tr> <tr class="price_special"> <th scope="row">특약 보험가입금액</th> <td>-</td> <td>10,000만원</td> </tr> <tr class="detail_insur"> <th colspan="3">상세 보장내역</th> </tr> </tbody>

In [164]:
detail = soup.find(class_='detailTbody')

In [175]:
detail

In [165]:
man = soup.find(id = 'main_btn_male')
woman = soup.find(id = 'main_btn_female')

In [166]:
man = driver.find_element_by_id('main_btn_male')
woman = driver.find_element_by_id('main_btn_female')

In [167]:
woman.click()

In [173]:
pre_price = basic.find_all(class_='inNum')

AttributeError: 'NoneType' object has no attribute 'find_all'

In [147]:
pre_price

[<td class="inNum"><strong>17,557</strong>원</td>,
 <td class="inNum"><strong>44,426</strong>원</td>]

In [43]:
details = detail.find_all('tr')

In [44]:
details

[<tr> <th scope="row">만기지급금</th> <td>20만원</td> <td>20만원</td> </tr>,
 <tr> <th scope="row">충전치료보험금</th> <td> </td> <td> </td> </tr>,
 <tr> <td class="inTbl" colspan="3"> <div class="insurDeTbl"> <table> <caption>충전치료보험금</caption> <colgroup> <col/> <col style="width:366px"/> <col style="width:366px"/> </colgroup> <tbody> <tr> <th scope="row">금, 도재(세라믹)</th> <td>13만원</td> <td>13만원</td> </tr> <tr> <th scope="row">아말감</th> <td>1만원</td> <td>1만원</td> </tr> <tr> <th scope="row">금, 도재(세라믹), 아말감 이외</th> <td>5만원</td> <td>5만원</td> </tr> </tbody> </table> </div> </td> </tr>,
 <tr> <th scope="row">금, 도재(세라믹)</th> <td>13만원</td> <td>13만원</td> </tr>,
 <tr> <th scope="row">아말감</th> <td>1만원</td> <td>1만원</td> </tr>,
 <tr> <th scope="row">금, 도재(세라믹), 아말감 이외</th> <td>5만원</td> <td>5만원</td> </tr>,
 <tr> <th scope="row">크라운치료보험금</th> <td>20만원</td> <td>20만원</td> </tr>,
 <tr> <th scope="row">치수치료(신경치료) 보험금</th> <td>2만원</td> <td>2만원</td> </tr>,
 <tr> <th scope="row">영구치발거치료보험금</th> <td>2만원</td> <td>2만원</td> </tr>,
 <tr> <th scope="row">치석제거(스케일링) 치료보험금</th> <td>1만원</td> <td>1만원</td> </tr>,
 <tr> <th scope="row">주요치주질환(잇몸질환)치료보험금</th> <td>2만원</td> <td>2만원</td> </tr>,
 <tr> <th scope="row">무배당다이렉트보철특약</th> <td> </td> <td> </td> </tr>,
 <tr> <td class="inTbl" colspan="3"> <div class="insurDeTbl"> <table> <caption>무배당다이렉트보철특약</caption> <colgroup> <col/> <col style="width:366px"/> <col style="width:366px"/> </colgroup> <tbody> <tr> <th scope="row">가철성의치(틀니)(Denture)치료보험금</th> <td>-</td> <td>100만원</td> </tr> <tr> <th scope="row">고정성가공의치(브릿지)(Bridge)치료보험금</th> <td>-</td> <td>50만원</td> </tr> <tr> <th scope="row">임플란트(Implant)치료보험금</th> <td>-</td> <td>100만원</td> </tr> </tbody> </table> </div> </td> </tr>,
 <tr> <th scope="row">가철성의치(틀니)(Denture)치료보험금</th> <td>-</td> <td>100만원</td> </tr>,
 <tr> <th scope="row">고정성가공의치(브릿지)(Bridge)치료보험금</th> <td>-</td> <td>50만원</td> </tr>,
 <tr> <th scope="row">임플란트(Implant)치료보험금</th> <td>-</td> <td>100만원</td> </tr>]

In [81]:
details_ = list()

for de in details : 
    test = de.find(class_='inTbl')
    if test != None : 
        continue
    title = de.find('th').get_text()
    prices = list()
    
    td = de.find_all('td')
    for price in td :
        prices.append(price.get_text())
    
    if prices[0] == '\xa0' and prices[1] == '\xa0' : 
        continue
    
    contents = {
        'title' : title,
        'basic' : prices[0],
        'concen': prices[1]
    }
    
    details_.append(contents)

In [82]:
for de in details_ : 
    print(de)

{'title': '만기지급금', 'basic': '20만원', 'concen': '20만원'}
{'title': '금, 도재(세라믹)', 'basic': '13만원', 'concen': '13만원'}
{'title': '아말감', 'basic': '1만원', 'concen': '1만원'}
{'title': '금, 도재(세라믹), 아말감 이외', 'basic': '5만원', 'concen': '5만원'}
{'title': '크라운치료보험금', 'basic': '20만원', 'concen': '20만원'}
{'title': '치수치료(신경치료) 보험금', 'basic': '2만원', 'concen': '2만원'}
{'title': '영구치발거치료보험금', 'basic': '2만원', 'concen': '2만원'}
{'title': '치석제거(스케일링) 치료보험금', 'basic': '1만원', 'concen': '1만원'}
{'title': '주요치주질환(잇몸질환)치료보험금', 'basic': '2만원', 'concen': '2만원'}
{'title': '가철성의치(틀니)(Denture)치료보험금', 'basic': '-', 'concen': '100만원'}
{'title': '고정성가공의치(브릿지)(Bridge)치료보험금', 'basic': '-', 'concen': '50만원'}
{'title': '임플란트(Implant)치료보험금', 'basic': '-', 'concen': '100만원'}

In [83]:
import pandas as pd

In [127]:
column_list = ['생년월일','성별','종류']

for de in details_ : 
    column_list.append(de['title'])
column_list.append('보험료')

In [128]:
df = pd.DataFrame(columns = column_list)

In [129]:
df

Empty DataFrame
Columns: [생년월일, 성별, 종류, 만기지급금, 금, 도재(세라믹), 아말감, 금, 도재(세라믹), 아말감 이외, 크라운치료보험금, 치수치료(신경치료) 보험금, 영구치발거치료보험금, 치석제거(스케일링) 치료보험금, 주요치주질환(잇몸질환)치료보험금, 가철성의치(틀니)(Denture)치료보험금, 고정성가공의치(브릿지)(Bridge)치료보험금, 임플란트(Implant)치료보험금, 보험료]
Index: []

In [130]:
basic_list = ['750118','남자','기본보장']
concen_list = ['750118','남자','집중보장']
for de in details_ : 
    basic_list.append(de['basic'])
    concen_list.append(de['concen'])
basic_list.append(pre_price[0].get_text())
concen_list.append(pre_price[1].get_text())

In [131]:
df.loc[0] = basic_list

In [132]:
df.loc[1] = concen_list

In [133]:
df

,생년월일,성별,종류,만기지급금,"금, 도재(세라믹)",아말감,"금, 도재(세라믹), 아말감 이외",크라운치료보험금,치수치료(신경치료) 보험금,영구치발거치료보험금,치석제거(스케일링) 치료보험금,주요치주질환(잇몸질환)치료보험금,가철성의치(틀니)(Denture)치료보험금,고정성가공의치(브릿지)(Bridge)치료보험금,임플란트(Implant)치료보험금,보험료
0,750118,남자,기본보장,20만원,13만원,1만원,5만원,20만원,2만원,2만원,1만원,2만원,-,-,-,"17,557원"
1,750118,남자,집중보장,20만원,13만원,1만원,5만원,20만원,2만원,2만원,1만원,2만원,100만원,50만원,100만원,"44,426원"

In [102]:
age_range = soup.select('#tabcont_0101 > div > div.inner.newToothTab > div:nth-child(6) > table > tbody > tr:nth-child(2) > td:nth-child(2)')[0].get_text()

In [105]:
age_range[3:5]

'50'

In [107]:
import datetime

In [119]:
datetime.datetime.now().year

2019

In [189]:
young = int(str(2019 - 20)[2:] + '0725')
old   = int(str(2019 - 50)[2:] + '0725')

In [190]:
young

990725

In [191]:
old

690725

In [142]:
driver.find_element_by_css_selector('#tabcont_0101 > div > div.inner.newToothTab > div:nth-child(6) > table > tbody > tr:nth-child(2) > td:nth-child(2)').text

'20-50세'

In [148]:
from selenium.webdriver.common.by import By 
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [192]:
for age in range(old,young,50000) : 
    print(age)

690725
740725
790725
840725
890725
940725

In [193]:
age_range = driver.find_element_by_css_selector('#tabcont_0101 > div > div.inner.newToothTab > div:nth-child(6) > table > tbody > tr:nth-child(2) > td:nth-child(2)').text
young = int(age_range[:2])
old   = int(age_range[3:5])

In [194]:
year = datetime.datetime.now().year

In [195]:
young = int(str(year - young)[2:] + '0725') 
old   = int(str(year - old)[2:] + '0725')

In [196]:
young

990725

In [197]:
old

690725